@import './base.css';

#app {
  display: grid;
  position: relative;
  min-width: 486px;
  min-height: 100vh;
  grid-template-columns: auto minmax(486px, 1200px) auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header header"
    ". main .";
}

@media screen and (max-width: 768px) {
  #app {
    min-width: 436px;
    grid-template-columns: auto minmax(436px, 1200px) auto;
  }
}

a,
.green {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-main);
  }
}