@import './base.css';

#app {
  display: grid;
  position: relative;
  background: linear-gradient(45deg, rgba(67, 87, 208, 1) 7%, rgba(201, 80, 195, 1) 100%);
  min-width: 768px;
  min-height: 100vh;
  grid-template-columns: auto minmax(768px, 1200px) auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header header"
    ". main .";
}

a,
.green {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #ab53c3;
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */

        
      }